@model WebsiteSkills.Models.Recurso

@{
    ViewData["Title"] = "Editar";
}

<h1 class="text-center" style="font-size: 2.75rem; font-family: 'Verdana', sans-serif; my-4">Editar</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm p-4 mb-4 bg-white rounded">
                <div class="card-body">
                    <h4 class="card-title text-center">Recurso</h4>
                    <hr />
                    <form asp-action="Edit" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="IdRecurso" />

                        <div class="form-group">
                            <label asp-for="NomeRecurso" class="control-label"></label>
                            <input asp-for="NomeRecurso" class="form-control" />
                            <span asp-validation-for="NomeRecurso" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="ConteudoRecurso" class="control-label"></label>
                            @if (ViewBag.TipoRecursoAtual == "PDF")
                            {
                                <input type="file" name="FicheiroRecurso" accept=".pdf" class="form-control" />
                            }
                            else if (ViewBag.TipoRecursoAtual == "Imagem")
                            {
                                <input type="file" name="FicheiroRecurso" accept=".png,.jpg,.jpeg" class="form-control" />
                            }
                            else
                            {
                                <input type="text" name="TextoRecurso" class="form-control" />
                            }
                        </div>

                        <div class="form-group text-center mt-4">
                            <input type="submit" value="Guardar" class="btn btn-dark" />
                        </div>
                    </form>
                </div>
            </div>

            <div class="text-center">
                <Recursos asp-action="Index" class="btn btn-secondary">Voltar à lista de Recursos</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
