.container {
    margin-top: 2rem;
  }
  
  .text-center {
    text-align: center;
  }
  
  h1 {
    font-size: 2.75rem;
    font-family: 'Verdana', sans-serif;
    margin: 2rem 0;
  }
  
  .card {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: white;
    border-radius: 0.25rem;
  }
  
  .card-title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .btn-dark {
    background-color: #343a40;
    border: none;
  }
  
  .btn-secondary {
    background-color: #6c757d;
    border: none;
  }
  