@model WebsiteSkills.Models.Skills

@{
    ViewData["Title"] = "Anúncios";
}

<h1class ="text-center" style="font-size: 2.75rem; font-family: 'Verdana', sans-serif; my-4">Anúncios</h1class>

@foreach (var item in ViewBag.Anuncios)
{
    <div>
        <text>@item.DataCriacao - @item.Texto</text>
    </div>
}