@model WebsiteSkills.Models.Skills

@{
    ViewData["Title"] = "Criar Anúncio";
}

<h2 class="text-center" style="font-size: 2.75rem; font-family: 'Verdana', sans-serif; my-4">Criar Anúncio</h2>

@if (ViewBag.Message != null)
{
    <div class="alert alert-warning">
        @ViewBag.Message
    </div>
    <a asp-action="Index" class="btn btn-secondary">Voltar ao índice de Skills</a>
}
else
{
    <div>
        <form asp-action="CriarAnuncios" method="post">
            <div class="form-group">
                <label class="control-label">Texto do Anúncio</label>
                <textarea class="form-control" name="texto" maxlength="200"> </textarea>
            </div>

            <input type="hidden" name="id" value="@Model.SkillsId" />
        <button type="submit" class="btn btn-dark my-2 mx-2">Submeter</button>
            <a asp-action="Index" class="btn btn-secondary my-2">Cancelar</a>
        </form>
    </div>
}
